<p-sidebar [(visible)]="display" [modal]="false" [showCloseIcon]="false" [style]="{width:'18rem'}" (onHide)="hide()">
    <div class="d-flex align-items-center justify-content-between">
        <img src="assets/imgs/logo.png" alt="smartEpay" class="img-fluid logo-img">
        <span class="d-flex align-items-center justify-content-center" (click)="display = !display">
            <i class="pi pi-bars" style="color: #AFAFAF;"></i>
        </span>
    </div>
    <p-panelMenu [model]="items" [multiple]="false" class="{{ display? 'd-block' : 'd-none' }}"></p-panelMenu>
</p-sidebar>